@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300&display=swap);
$font-lato: 'lato', serif;
$mainFontFamily: $font-lato;

$breakPoints: (
  "sm": "556px",
  "md": "768px",
  "lg": "992px",
  "xl": "1200px"
);

$gridSize: 12;
$gridSpacing: 15px;

$mainBorderRadius: 4px;

$lightGrayColor: #e1e1e1;

$codeBlockColor: $lightGrayColor;
