.generated-content {
  max-width: $generatedContentMaxWidth;
  margin-left: auto;
  margin-right: auto;

  figure {
    float: right;
  }

  pre {
    overflow-x: auto;
    background-color: $codeBlockColor;
    padding: 10px 12px;
    border-radius: $mainBorderRadius;
  }

  a {
      color: $linkColor;
      border-bottom: 2px solid transparent;
      transition: border-color ease .3s;
      font-weight: 600;
      text-decoration: none;
      outline: none;
    &:focus,
    &:hover,
    &:active {
      border-color: $linkColor;
    }
  }

}
