.modal {
  background-color: #fff;
  position: absolute;
  top: 50px;
  right: 50px;
  bottom: 50px;
  left: 50px;
  padding: 15px 20px;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: $mainBorderRadius;

  &.modal--w-850 {
    right: 0;
    left: 50%;
    max-width: 950px;
    transform: translateX(-50%);
  }
}
