.modal {
  height: 100%;
  padding: 15px 20px;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: $mainBorderRadius;
  min-width: 300px;

  &.modal--article {
    max-width: 950px;
  }
}
